<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsiccwxrezPcmNNl6FPBJUmuE69W5kigU</string>
	<key>GCM_SENDER_ID</key>
	<string>1091728467148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.info.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-62071</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-62071.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091728467148:ios:268539c489fe0797110e69</string>
</dict>
</plist>